@import "../Variable.scss";
@import "../Animation";

.linkTo-wrap {
  display: flex;
  align-items: center;

  font-size: 18px;
  text-decoration: none;
  font-weight: 400;

  overflow: hidden;
  .linkTo {
    text-decoration: none;
    display: flex;
    align-items: center;
    transform: translateX(-100%);

    &.to_animate {
      animation: text_animate_bottom_to_center 2s ease-in-out forwards;
    }
  }

  &:hover .linkTo-icon {
    background-color: #000;
    color: #fff;
  }

  .linkTo-icon {
    margin-left: 10px;
    font-size: 50px;

    background-color: $icon__next__page__color;

    border-radius: 50%; 

    transition: 0.5s;
  }
}