$header__height: 140px;
$primary__color: rgb(20,28,37);
$white__color: #fff;
$black__color: #000;
$title__text__box: rgb(174,168,160);
$text__color: rgb(70,79,99);
$title__color: rgb(33,41,62);
$icon__next__page__color: rgb(236,233,229);
$background__color: rgb(246,245,242);